@model BrandViewModel

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary text-center">Edit Brand</h2>
        </div>
        <div class="mb-3">
            <label for="Name">Brand</label>
            <input asp-for="Id" type="hidden">
            <input asp-for="Name" class="form-control"/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div id="model-container">
            @for (var i = 0; i < Model.Models.Count; i++)
            {
                <div class="model" id="model_@Model.Models[i].Id">
                    <div class="mb-3 row align-items-center">
                        <div class="col-10">
                            <label asp-for="@Model.Models[i].Name">Model Name</label>
                            <input asp-for="@Model.Models[i].Id" type="hidden"/>
                            <input asp-for="@Model.Models[i].Name" class="form-control"/>
                            <label asp-for="@Model.Models[i].ModelVariant">Model Variant</label>
                            <input asp-for="@Model.Models[i].ModelVariant" class="form-control"/>
                            <span asp-validation-for="@Model.Models[i].Name" class="text-danger"></span>
                            <span asp-validation-for="@Model.Models[i].ModelVariant" class="text-danger"></span>

                        </div>
                        <div class="col mt-3">
                            <button type="button" class="deleteModelButton" onclick="deleteModel(@Model.Models[i].Id)">Delete Model</button>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="container mb-3">
            <div class="addModelButtonContainer">
                <button type="button" id="add-model">Add Model</button>
            </div>
        </div>
        <div class="actionButtonsContainer">
            <button type="submit" class="actionButton updateButton">Save</button>
            <a asp-action="Index" asp-controller="Brands" class="actionButton backButton">Back</a>
        </div>
    </div>
</form>

<script src="~/js/BrandRelated/DeleteModel.js"></script>
<script src="~/js/BrandRelated/AddModel.js"></script>