<h2>@Model.Id</h2>
<h2>@Model.Make.Name</h2>
<h2>@Model.Model.Name</h2>
<h2>@Model.Generation</h2>
<h2>@Model.Transmission.Name</h2>
<h2>@Model.TransmissionVariant.GearCount</h2>
<h2>@Model.Drivetrain.Name</h2>
<h2>@Model.StartYear</h2>
<h2>@Model.EndYear</h2>