<h2>@Model.Engine.FuelType.Name</h2>
<h2>@Model.Engine.Configuration.Name</h2>
<h2>@Model.Engine.Aspiration.Name</h2>
<h2>@Model.Engine.Horsepower</h2>
<h2>@Model.CityFuel</h2>
<h2>@Model.Eurostandard.Name</h2>