@model CarManagementViewModel

@{
    var electricCar = (ElectricCarViewViewModel)Model.Car;
}

<div class="mt-3">
    <label for="Horsepower">Horsepower</label>
    <input id="Horsepower" asp-for="@electricCar.Horsepower" name="Horsepower"/>
</div>

<div class="mt-3">
    <label for="Torque">Torque</label>
    <input id="Torque" asp-for="@electricCar.Torque" name="Torque"/>
</div>

<div class="mt-3">
    <label for="BatteryCapacity">Battery Capacity</label>
    <input id="BatteryCapacity" asp-for="@electricCar.BatteryCapacity" name="BatteryCapacity"/>
</div>
<div class="mt-3">
    <label for="Range">Range</label>
    <input id="Range" asp-for="@electricCar.Range" name="Range"/>
</div>
<div class="mt-3">
    <label for="MotorCount">Motor Count</label>
    <input id="MotorCount" asp-for="@electricCar.MotorCount" name="MotorCount"/>
</div>